<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>nil.in.net</title>
    <style type="text/css">
      * {
        padding: 0;
        margin: 0;
      }
      body {
        // background-color: #000;
      }
      .main {
        width: 100%;
        height: 100%;
        text-align: center;
        opacity: 0;
      }
      .main p {
        font-size: 90%;
        margin-top: 10px;
        // color: #fff;
      }
    </style>
    <script src="https://code.jquery.com/jquery-3.1.0.slim.min.js"></script>
    <script type="text/javascript">
      $(window).on('load', function() {
        set_position();
      });
      function set_position() {
        var window_height = $(window).outerHeight();
        if($('.main img').height() >= window_height / 2) {
           $('.main img').height(window_height / 2);
        }
        $('.main').css('margin-top', `${(window_height - $('.main').height()) / 2}px`)
        $('.main').css('opacity', '1')
      }
    </script>
  </head>
  <body>
    <div class="main">
      <img src="<%= image %>">
      <p><%= word %></p>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-1728112-10', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
